* {
    font-size: 12px;
    color: var(--text-color);
}
.dark-text {
    color: black;
    font-weight: 600;
}
.transactions {
    margin: 10px ;
}
.border-bottom {
    border-bottom: 1px solid var(--text-color);
    &:last-child {
        border-bottom: 0px;
    }
}
.icon {
    height: 32px;
    width: 32px;
}
.details {
    flex-grow: 4;
    padding: 0px 10px;
}