.bottom-nav-container {
    height: 56px;
    display: flex;
    width: 100%;
    .nav-icon {
        width: 20%;
        color: var(--text-color);
        font-size: 12px;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
}

.selected {
    border-top: 2px solid var(--primary-color);
}
.red-dot {
    height: 7px;
    width: 7px;
    position: absolute;
    transform: translateX(10vw);
    border-radius: 50%;
    background-color: red;
    border: 2px solid white;
}