<div class="bottom-nav-container">
  <div class="nav-icon" [ngClass]="isHomePage? 'selected': ''">
    <img *ngIf="isHomePage" src="../../assets/bottom-nav/home-selected.svg">
    Home
  </div>
  <div class="nav-icon">
    <img src="../../assets/bottom-nav/passbook.svg">
    Passbook
  </div>
  <div class="nav-icon">
    <img src="../../assets/bottom-nav/billbox.svg">
    Billbox
  </div>
  <div class="nav-icon">
    <img src="../../assets/bottom-nav/profile.svg">
    Profile
  </div>
  <div class="nav-icon">
    <img src="../../assets/bottom-nav/more.svg">
    More
  </div>
</div>