.top-strip {
    width: 100%;
    background-color: var(--primary-dark-color);
    height: 27px;
}
.header-container {
    background: #00D1C1;
    padding: 27px 0px;
    .welcome-container {
        display: flex;
        padding: 0px 16px;
        .welcome-text {
            color: #FFFFFF;
            font-weight: 500;
            font-size: 18px;
        }
    }
    .active-accounts {
        font-family: var(--font-family-highlighted);
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: #FFFFFF;
        padding: 0px 16px;
    }
    .scrolling-wrapper {
        &::-webkit-scrollbar {
            display: none;
        }
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;        
    }
    .card {
        flex: 0 0 auto;
    }
}
.break {
    background-color: var(--light-background-color);
    height: 16px;
    width: 100%;
}