<div class="top-strip"></div>
<div class="header-container">
	<div class="welcome-container">
		<span class="welcome-text">Welcome to </span>
		<img src="../../assets/logo-white.svg" />
	</div>
	<br />
	<ng-container>
		<span class="active-accounts">{{activeAccounts}} Active accounts</span>
	</ng-container>
	<br /><br />
	<div class="scrolling-wrapper">
		<app-card class="card" [isActionCard]="true" [data]="simplCardData"></app-card>
		<app-card class="card" [isActionCard]="false" [data]="payLaterCardData"></app-card>
	</div>
</div>

<app-bill-payment [allowedBills]="billTypes.value"></app-bill-payment>
<div class="break"></div>
<app-vendors [allowedVendors]="vendors.value"></app-vendors>
<div class="break"></div>